#ListGroup1 {
	border-radius: 20px 20px 20px 20px;
	padding-left: 300px;
	padding-right: 300px;
	padding-bottom: 40px;
	text-align: center;
}

#Welcome {
	border-radius: 10px;
	margin-left: 260px;
	margin-right: 240px;
	background-color: #212121;
}
#KSP, #ROM, #Opinion, #STE {
	background-color: #212121;
	border-radius: 10px 10px 10px 10px;
	font-family: roboto;
	font-size:  18px;
	padding-top: 1.0rem;
}

#Opinion {
	margin-top: 15px;
}

#ROM {
	border-radius: 10px 10px 10px 10px;
}

#STE {
	border-radius: 10px 10px 10px 10px;
}

#KSPP{
	font-size: 12px;
	padding-bottom: 120px;
}

#ROMP {
	font-size: 12px;
}

#AVI, #STEP {
	font-size: 12px;
}

#AE {
	background-color: #212121;
	border-radius: 0px 10px 10px 0px;
	margin-right: 65px;
	margin-top: 10px;
}

#AI {
	background-color: #212121;
	border-radius: 10px 10px 10px 10px;
	margin-right: 66px;
	margin-top: 10px;
}

#SSN {
	background-color: #212121;
	border-radius: 10px 10px 10px 10px;
	margin-top: 10px;
}

img {
	border: 10px;
	padding-top: 12px;
	text-align: left;
}